<!DOCTYPE html>
<html ng-app="icecrate.core">
  <head>
    <title>Icecrate</title>

    <!-- Third-party -->
    <script src="/static/bower/angular/angular.js"></script>
    <script src="/static/bower/angular-route/angular-route.js"></script>
    <script src="/static/bower/satellizer/satellizer.js"></script>

    <!-- Project -->
    <script src="/static/local/icecrate/icecrate.js"></script>
    <script src="/static/local/icecrate-store/icecrate-store.js"></script>
    <script src="/static/local/icecrate-sync/icecrate-sync.js"></script>
    <script src="/static/local/icecrate-user/icecrate-user.js"></script>
    <script src="/static/local/icecrate-households/icecrate-households.js"></script>
    <script src="/static/local/icecrate-lists/icecrate-lists.js"></script>
    <script src="/static/local/icecrate-items/icecrate-items.js"></script>
    <link href="/static/local/icecrate/master.css" charset="utf-8" rel="stylesheet">
    <script src="/static/local/zxing/zxing.js"></script>
  </head>
  <body>
    <header>
      <a href="/"><h1>Icecrate</h1></a>
      <nav>
        <ul>
          <li><input type="text" ng-model="query.name" placeholder="Search items by name"></input></li>
          <li><input type="text" ng-model="query.upc" placeholder="Search items by UPC"></input></li>
          <li class="mobile" zxing-scanlink></li>
          <li><a href="#/items">Items</a></li>
          <li><a href="#/households">Households</a></li>
          <li><a href="#/lists">Shopping Lists</a></li>
          <li user-signin></li>
          <li><a href="#/about">About</a></li>
          <li><a href="#/help">Help</a></li>
        </ul>
      </nav>
      <section ng-controller="SyncState">
        <h1>Last sync was on {{sync.last_sync | date : "medium"}}</h1>
        <p><a href="" ng-click="sync.pull_changes()">Get changes now</a></p>
        <p><a href="" ng-click="sync.push_changes()">Push changes now</a></p>
      </section>
    </header>
    <div ng-view></div>
    <footer>
      <section title="copyright" id="copyright">
        <p>&copy;2014 Erik Youngren</p>
      </section>
    </footer>
  </body>
</html>
