<!DOCTYPE html>
<section>
  <!-- Bootstrap -->
  <header class="page-header">
    <h1><span class="glyphicon glyphicon-home"></span> {{household.name}}</h1>
  </header>

  <ul class="nav nav-tabs nav-justified">
    <li><a href="#/households/{{household._id}}/items"><span class="glyphicon glyphicon-list"></span> Items</a></li>
    <li><a href="#/households/{{household._id}}/lists"><span class="glyphicon glyphicon-list-alt"></span> Shopping&nbsp;Lists</a></li>
    <li><a href="#/households/{{household._id}}/users"><span class="glyphicon glyphicon-user"></span> Participants</a></li>
    <li><a href="#/households/{{household._id}}/admin"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
  </ul>

  <!-- Item List -->
  <section ng-show="subpage === 'items';" ng-controller="ItemList">
    <div class="panel-body">
      <div class="btn-group" ng-controller="LocationList">
        <label class="btn btn-default icecrate-location" ng-click="query.location = {}">All</label>
        <label class="btn btn-default icecrate-location" ng-model="query.location[loc]" btn-checkbox ng-repeat="(loc, qty) in locations">{{loc}}</label>
      </div>
    </div>
    <table class="table">
      <tr><th>Quantity</th><th>Name</th><th>Size</th></tr>
      <tr ng-repeat="item in items | orderBy:'name' | filter:query.name | filter:query.upc:strict | filter:query.locfilter">
        <td>{{item.location | sumvals}}</td>
        <td><a href="#/households/{{household._id}}/items/{{item.upc}}">{{item.name}}</a></td>
        <td>{{item.size.scalar}} {{item.size.units || "count"}}</td>
      </tr>
    </table>
    <div class="panel-body" new-item></div>
  </section>

  <!-- Shopping Lists -->
  <div ng-show="subpage === 'lists';" ng-controller="ShoppingLists" ng-include="'/static/local/icecrate-lists/templates/list-lists.html'">
  </div>

  <!-- Participants -->
  <section ng-show="subpage === 'users';">
    <h1>Participants</h1>
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="member in household.members">
        <span class="badge">Member</span>
        {{member}}
      </li>
      <li class="list-group-item" ng-repeat="guest in household.guests">
        <span class="badge">Guest</span>
        {{guest}}
        <button type="button" class="btn btn-warning" ng-click="remove_guest(guest)">Remove</button>
      </li>
    </ul>
  </section>

  <!-- Administration -->
  <section  ng-show="subpage === 'admin';">
    <h1>Administration</h1>
    <section>
      <form class="form-horizontal" role="form">
        <div class="form-group form-inline">
          <label for="edit-household-name" class="control-label col-sm-2">Edit Name</label>
          <div class="col-sm-10">
            <input type="text" id="edit-household-name" class="form-control" name="edit-household-name" ng-model="household.name"></input>
            <input type="submit" value="Save" class="form-control" ng-click="update_household();"></input>
          </div>
        </div>
      </form>
    </section>
    <section>
      <form class="form-horizontal" role="form">
        <div class="form-group form-inline">
          <label class="control-label col-sm-2">Leave Household</label>
          <div class="col-sm-10">
            <button type="button" class="btn btn-danger">Leave</button>
          </div>
        </div>
      </form>
    </section>
  </section>
</section>
