<!DOCTYPE html>
<section>
  <h1>Add a new item</h1>
  <input type="text" placeholder="Item UPC" ng-model="new_item.upc"></input>
  <input type="text" placeholder="Item Name (recommended)" ng-model="new_item.name"></input>
  <br/>
  <input type="number" placeholder="Size (optional)" ng-model="new_item.size.scalar"></input>
  <input type="text" placeholder="Units (optional)" ng-model="new_item.size.units"></input>
  <br/>
  <select ng-model="new_item.household"
    ng-options="household._id as household.name for household in households">
  </select>
  <input type="submit" value="Save New Item" ng-click="create_new_item(new_item);"></submit>
</section>
